<div id="body_acquisitionflow_register">

  <div id="overlay-temp" style="display: none;">
    <!-- <div id="overlay-temp-content"></div> -->
    <!-- <div id="overlay-temp-logo">Loading... Please Wait...</div> -->
  </div>
  <div class="container container-loanflow pad140 padb120">
    <form id="acquisitionflow_register">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Credentials</h3>
        </div>
        <div class="panel-body pad15">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group infield">
                <label>connectionId</label>
                <input [(ngModel)]="connectionId" [ngModelOptions]="{standalone: true}" type="text" maxlength="50"
                  class="form-control" [value]="connectionId">
              </div>
              <div class="loanflow-buttons icon-buttons">
                <!-- <button (click)="getCredentials()" class="btn success-light btn-warning">Get Credentials</button>&nbsp; -->
                <button (click)="issueCreds()" class="btn success-light btn-warning">Issue Email to:
                  {{connectionId}}
                </button>
              </div>
              <h5>Select Connections</h5>
              <accordion>
                <accordion-group *ngFor="let connection of connectionsData$ | async" heading='{{connection.id}}'
                  (click)="selectId(connection.id)">
                  <pre>
{{ connection | json }}
</pre>
                </accordion-group>
              </accordion>
            </div>
            <div class="col-sm-8">
              <h5>Issued Credentials</h5>
              <accordion>
                <accordion-group *ngFor="let credential of credentialsData$ | async"
                  heading='{{credential.credentialName}}' [isOpen]="true">
                  <pre>
{{ credential | json }}
</pre>
                </accordion-group>
              </accordion>
              {{ issueResult }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
