<div id="body_acquisitionflow_register">

  <div id="overlay-temp" style="display: none;">
    <div id="overlay-temp-content"></div>
    <!-- <div id="overlay-temp-logo">Loading... Please Wait...</div> -->
  </div>
  <nav class="navbar navbar-default navbar-fixed-top secure-nav apply-ma-ac">
    <div class="container-fluid buttonnav OMblack nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="VignetteOuter">
              <a class="HeaderVignetteInner startoverlay"><img src="/assets/safbc.jpg" class="header-logo"></a>
            </div>
            <div class="displaynonemobile nav-btns pull-right pad5 padb5">
              <button class="btn btn-sm btn-success success-dark no-overlay-please">CONTACT US</button>
            </div>
            <div class="navbar-header">
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container container-loanflow pad60 padb80">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">SAFBC Bank | Open your <strong>MAHHALA Account</strong></h3>
        </div>
        <div class="panel-body pad15">
          <p>Please complete your details below</p>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group infield">
                <label for="fidnumber">ID number</label>
                <input formControlName="identityNumber" type="number" class="form-control" id='fidnumber'
                  placeholder="ID number" value="identityNumber.value" required minlength="13">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group infield">
                <label for="ftitle">Title</label>
                <select formControlName="title" class="form-control no-selection" id="ftitle">
                  <option value="">Title</option>
                  <option value="DR">Dr</option>
                  <option value="MR">Mr</option>
                  <option value="MRS">Mrs</option>
                  <option value="MS">Ms</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group infield ">
                <label for="ffname">First name(s)</label>
                <input formControlName="names" type="text" maxlength="50" class="form-control" id="ffname"
                  placeholder="First name(s)" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group infield ">
                <label for="flname">Surname</label>
                <input formControlName="surname" type="text" maxlength="50" class="form-control" id="flname"
                  placeholder="Surname" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group infield ">
                <label for="finitials">Initials</label>
                <input formControlName="initials" type="text" maxlength="10" class="form-control" id="finitials"
                  placeholder="Initials">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group infield ">
                <label for="fcellphone">Cell phone number</label>
                <input formControlName="cellphone" type="tel" maxlength="10" id="fcellphone" class="form-control"
                  id="fcellphone" placeholder="Cell phone number" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group infield ">
                <label for="fcountryofbirth">Country of birth</label>
                <select formControlName='countryOfBirth' required id="fcountryofbirth"
                  class="form-control no-selection">
                  <option value="" class="empty_option">Country of birth</option>
                  <option value="ZAF">South Africa</option>
                  <option value="ZN">Namibia</option>
                  <option value="ZM">Zimbabwe</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group infield">
                <label for="femailaddress">Email Address</label>
                <input formControlName='email' type="email" maxlength="50" class="form-control" id="femailaddress"
                  placeholder="Email Address">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group infield">
                <label for="faddress">Address</label>
                <textarea formControlName='address' type="text" class="form-control" id="faddress"
                  placeholder="Address"></textarea>
              </div>
            </div>
            <div class="col-sm-6">
              Form status: {{ signupForm.status }}<br />

              <span *ngIf="signupForm.valid">Form data: {{ signupForm.value | json }}</span>
            </div>
          </div>
        </div>
      </div>
      <input formControlName="dateOfBirth" type="hidden" id="fdateOfBirth">
      <input formControlName="nationality" type="hidden" id="fnationality">
      <input formControlName="sex" type="hidden" id="fsex">

      <div class="loanflow-buttons icon-buttons">
        <button (click)="invite()" class="btn success-light warning-light">CONNECT WITH <img
            src="../../../assets/favicon.png" style="height: 25px"> Sovrin</button>
        <button type="submit" [disabled]="!signupForm.valid" class="btn success-light">NEXT</button>
        <span *ngIf="indyLoading">Indy status: {{ indyStatusMessage }}</span>
      </div>
    </form>
  </div>
  <div class="bodyfooter small-footer font11">
    <div class="breakline">
      <nav class="marg100left">
        <a href="/signup">signup</a> |
        <a href="/confirmed">confirmed</a> |
        <a href="/tester">tester</a> |
        <a href="/messages">messages</a> |
        <a href="/creds">creds</a> |
        <a href="/proofs">proofs</a>
      </nav>
    </div>
    <div class="container containSitemap">

      <div class="VignetteOuter">
        <div class="FooterVignetteInner"><img src="/assets/safbc.jpg" alt=""></div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="copyrightinner">
            <p>This site has been built for demonstration purposes only. It serves to show the potential
              functionality that SSI technologies could offer to the consumer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
