<div id="body_acquisitionflow_register">

  <div id="overlay-temp" style="display: none;">
    <div id="overlay-temp-content"></div>
    <!-- <div id="overlay-temp-logo">Loading... Please Wait...</div> -->
  </div>
  <nav class="navbar navbar-default navbar-fixed-top secure-nav apply-ma-ac">
    <div class="container-fluid buttonnav OMblack nopad">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="VignetteOuter">
              <a class="HeaderVignetteInner startoverlay"><img src="/assets/safbc.jpg" class="header-logo"></a>
            </div>
            <div class="displaynonemobile nav-btns pull-right pad5 padb5">
              <button class="btn btn-sm btn-success success-dark no-overlay-please">CONTACT US</button>
            </div>
            <div class="navbar-header">
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container container-loanflow pad20 padb80">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">SAFBC Bank | Open your <strong>MAHHALA Account</strong></h3>
        </div>
        <div class="panel-body pad15">
          <p>Please complete your details below. Alternatively Connect with us on Sovrin to fill it in automatically.
          </p>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group infield show-label">
                <label for="fidnumber">ID number</label>
                <input formControlName="identityNumber" type="number" class="form-control" id='fidnumber'
                  placeholder="ID number" required minlength="13" [readOnly]="kycIdFilled">
              </div>
              <div *ngIf="kycIdFilled" class="verified">
                <div class="vtooltip">
                  <div class="vtooltip">
                    <img src="/assets/favicon.png" class="verified-mark" />
                    <span class="vtooltiptext">Sovrin Verified Credential</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group infield show-label">
                <label for="ftitle">Title</label>
                <select formControlName="sex" class="form-control no-selection" id="ftitle" [disabled]="kycSexFilled">
                  <option value="" selected>Title</option>
                  <option value="DR">Dr</option>
                  <option value="M">Mr</option>
                  <option value="MRS">Mrs</option>
                  <option value="F">Ms</option>
                </select>
              </div>
              <div *ngIf="kycSexFilled" class="verified">
                <div class="vtooltip">
                  <img src="/assets/favicon.png" class="verified-mark" />
                  <span class="vtooltiptext">Sovrin Verified Credential</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group infield show-label ">
                <label for="ffname">Given Name(s)</label>
                <input formControlName="names" type="text" maxlength="50" class="form-control" id="ffname"
                  placeholder="Given Name(s)" [value]="fnames.value" required [readOnly]="kycNameFilled">
              </div>
              <div *ngIf="kycNameFilled" class="verified">
                <div class="vtooltip">
                  <img src="/assets/favicon.png" class="verified-mark" />
                  <span class="vtooltiptext">Sovrin Verified Credential</span>
                </div>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group infield show-label ">
                <label for="fdateOfBirth">Date Of Birth</label>
                <input formControlName="dateOfBirth" type="text" required class="form-control" id="fdateOfBirth"
                  placeholder="Date Of Birth" [readOnly]="kycDobFilled">
              </div>
              <div *ngIf="kycDobFilled" class="verified">
                <div class="vtooltip">
                  <img src="/assets/favicon.png" class="verified-mark" />
                  <span class="vtooltiptext">Sovrin Verified Credential</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group infield show-label ">
                <label for="flname">Surname</label>
                <input formControlName="surname" type="text" maxlength="50" class="form-control" id="flname"
                  placeholder="Surname" required [readOnly]="kycSurnameFilled">
              </div>
              <div *ngIf="kycSurnameFilled" class="verified">
                <div class="vtooltip">
                  <img src="/assets/favicon.png" class="verified-mark" />
                  <span class="vtooltiptext">Sovrin Verified Credential</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group infield show-label ">
                <label for="fcellphone">Cell phone number</label>
                <input formControlName="cellphone" type="tel" maxlength="12" id="fcellphone" class="form-control"
                  id="fcellphone" placeholder="Cell phone number" required [readOnly]="kycCellFilled">
              </div>
              <div *ngIf="kycCellFilled" class="verified">
                <div class="vtooltip">
                  <img src="/assets/favicon.png" class="verified-mark" />
                  <span class="vtooltiptext">Sovrin Verified Credential</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group infield show-label ">
                <label for="fnationality">Nationality</label>
                <select formControlName='nationality' required id="fnationality" class="form-control no-selection"
                  [disabled]="kycNationalityFilled">
                  <!-- <option value="" class="empty_option">Nationality</option> -->
                  <option value="ZAF">South Africa</option>
                  <option value="LS">Lesotho</option>
                  <option value="NA">Namibia</option>
                  <option value="SW">Swaziland</option>
                </select>
              </div>
              <div *ngIf="kycNationalityFilled" class="verified">
                <div class="vtooltip">
                  <img src="/assets/favicon.png" class="verified-mark" />
                  <span class="vtooltiptext">Sovrin Verified Credential</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group infield show-label">
                <label for="femailaddress">Email Address</label>
                <input formControlName='email' type="email" maxlength="50" class="form-control" id="femailaddress"
                  placeholder="Email Address" [readOnly]="kycEmailFilled">
              </div>
              <div *ngIf="kycEmailFilled" class="verified">
                <div class="vtooltip">
                  <img src="/assets/favicon.png" class="verified-mark" />
                  <span class="vtooltiptext">Sovrin Verified Credential</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group infield show-label">
                <label for="faddress">Address</label>
                <textarea formControlName='fullAddress' type="text" class="form-control" id="faddress"
                  [readOnly]="kycAddrFilled"></textarea>
              </div>
              <div *ngIf="kycAddrFilled" class="verified" style="vertical-align: top; margin-top: 15px;">
                <div class="vtooltip">
                  <img src="/assets/favicon.png" class="verified-mark" />
                  <span class="vtooltiptext">Sovrin Verified Credential</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <!-- Form status: {{ signupForm.status }}<br /> -->
              <!-- <span *ngIf="signupForm.valid">Form data: {{ signupForm.value | json }}</span> -->
              <p *ngIf="indyStatusMessage !== null">
                Current Activity: <br>
                <strong>
                  <pre>{{ indyStatusMessage }}</pre> </strong>
              </p>
              <p *ngIf="pollCount > 0">
                Poll count: {{ pollCount }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <input formControlName="dateOfBirth" type="hidden" id="fdateOfBirth"> -->
      <input formControlName="countryOfBirth" type="hidden">
      <!-- <input formControlName="title" type="hidden"> -->

      <div class="loanflow-buttons icon-buttons">
        <button type="button" (click)="invite()" class="btn success-light warning-light" *ngIf="!proofSent">CONNECT WITH
          <img src="../../../assets/favicon.png" style="height: 25px"> Sovrin</button>
        <!-- <button type="button" (click)="getProofResponse('0f48a833-20f1-4adb-aa98-1a5f1a92b483')"
          class="btn success-light">GET ID DATA 0f48a833-20f1-4adb-aa98-1a5f1a92b483</button> -->
        <button type="button" (click)="getProofResponse(proofReqUID)" *ngIf="proofSent" class="btn success-light">FILL
          <img src="../../../assets/favicon.png" style="height: 25px"> ID</button>
        <button type="submit" [disabled]="!signupForm.valid" class="btn success-light">APPLY</button>

      </div>
    </form>
  </div>
  <div class="bodyfooter small-footer font11">
    <div class="breakline">
      <nav class="marg100left">
        <a href="/signup">signup</a> |
        <a href="/confirmed">confirmed</a> |
        <a href="/tester">tester</a> |
        <a href="/messages">messages</a> |
        <a href="/creds">creds</a> |
        <a href="/proofs">proofs</a>
      </nav>
    </div>
    <div class="container containSitemap">

      <div class="VignetteOuter">
        <div class="FooterVignetteInner"><img src="/assets/safbc.jpg" alt=""></div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="copyrightinner">
            <p>This site has been built for demonstration purposes only. It serves to show the potential
              functionality that SSI technologies could offer to the participants.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
