<div class="row">
  <div class="col-6">
    <h3>Connections</h3>
    <!-- <button type="button" (click)='addConnection()' class="btn btn-primary">
      Add random connection
    </button> -->
    <!-- <button type="button" (click)='getConnectionId("77601f66-fdf8-4ec4-9b82-6e14772daeb0")' class="btn btn-secondary">
      Poll ID
    </button> -->
    <pre *ngIf="connectionsData$">
    {{ connectionsData$ | async | json }}
    </pre>
    <pre *ngIf="connectionData$">
    {{ connectionData$ | async | json }}
    </pre>
  </div>
  <div class="col-6">
    <h3>Messages</h3>
    <input type="search" name="search" id="search" [(ngModel)]="connectionId">&nbsp;
    <button type="button" (click)='getMessagesById(connectionId)' class="btn btn-primary">
      Get Mesages by Id {{connectionId}}
    </button>
    <pre *ngIf="messagesData$">
    {{ messagesData$ | async | json }}
    </pre>
    <pre *ngIf="messageData$">
    {{ messageData$ | async | json }}
    </pre>
  </div>
</div>
