<div id="body_acquisitionflow_register">

  <div id="overlay-temp" style="display: none;">
    <!-- <div id="overlay-temp-content"></div> -->
    <!-- <div id="overlay-temp-logo">Loading... Please Wait...</div> -->
  </div>
  <div class="container container-loanflow pad140 padb120">
    <form id="acquisitionflow_register">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Messages</h3>
        </div>
        <div class="panel-body pad15">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group infield">
                <label>Connection Id</label>
                <input [(ngModel)]="connectionId" type="text" maxlength="50" class="form-control" [value]="connectionId"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="loanflow-buttons icon-buttons">
                <button (click)="getMessagesById(connectionId)" id="wf_do_next" class="btn success-light btn-warning"
                  name="wf_do_next">Get messages for {{ connectionId }}</button>
              </div>
              <h5>List of connections</h5>
              <accordion>
                <accordion-group *ngFor="let connection of connectionsData$ | async" heading='{{connection.id}}'
                  (click)="selectId(connection.id)">
                  <pre>
{{ connection | json }}
</pre>
                </accordion-group>
              </accordion>
            </div>
            <div class="col-sm-8">
              <h5>List of messages for {{ connectionId }}</h5>
              <accordion>
                <accordion-group *ngFor="let message of messagesData$ | async" heading='{{message.type}}'
                  [isOpen]="true">
                  <pre>
{{ message | json }}
</pre>
                </accordion-group>
              </accordion>
              <pre *ngIf="messageData$">
{{ messageData$ | async | json }}
</pre>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
