<h1>Signup</h1>


<p>Form fill test</p>
<div class='form-group'>
  <input type="text" [formControl]="surname" class="form-control" placeholder='Surname'>
  <input type="text" [formControl]="names" class="form-control" placeholder="Names">
  <input type="text" [formControl]="sex" class="form-control" placeholder="sex">
  <input type="text" [formControl]="nationality" class="form-control" placeholder="nationality">
  <input type="text" [formControl]="status" class="form-control" placeholder="status">
  <input type="text" [formControl]="email" class="form-control" placeholder="email">
</div>


<button type="button" class="btn btn-primary">
  Submit
</button>
&nbsp;
<button type="button" class="btn btn-secondary" (click)="fillWithIndy()">
  Fill out with Indy
</button>
<hr>
<p>Show modal with QR data</p>
<button type="button" class="btn btn-primary"
  (click)="openModalWithComponent('Property \'qrdata\' does not exist on type')">Create modal with
  component</button><br />
<hr>
<p>API data retrieval</p>
<button type="button" class="btn btn-secondary" (click)='getSchema()'>
  Get Schemas
</button>
<pre>
  {{ schemaData | async | json }}
</pre>
<hr>
<div class="row">
  <div class="col-xs-12 col-12">
    <pagination [(totalItems)]="totalItems"></pagination>
  </div>
</div>
