<h1>Signup</h1>


<p>Form fill test</p>
<div class='form-group'>
  <input type="text" [formControl]="surname" class="form-control" placeholder='Surname'>
  <input type="text" [formControl]="names" class="form-control" placeholder="Names">
  <input type="text" [formControl]="sex" class="form-control" placeholder="sex">
  <input type="text" [formControl]="nationality" class="form-control" placeholder="nationality">
  <input type="text" [formControl]="status" class="form-control" placeholder="status">
  <input type="text" [formControl]="email" class="form-control" placeholder="email">
</div>


<button type="button" class="btn btn-primary">
  Submit
</button>
&nbsp;
<button type="button" class="btn btn-secondary" (click)="fillWithIndy()">
  Fill out with Indy
</button>
<hr>
<p>Show modal with QR data</p>
<button type="button" class="btn btn-primary"
  (click)="openModalWithComponent('Property \'qrdata\' does not exist on type')">Create modal with
  component</button><br />
<hr>
<p>API data retrieval</p>
<button type="button" class="btn btn-secondary" (click)='getSchema()'>
  Get API Data
</button>
<!-- <div class="container-fluid"> -->
<!-- <div class="container"> -->
<div class="row">
  <div class="col-6">
    <h3>Schemas</h3>
    <pre *ngIf="schemaData">
    {{ schemaData | async | json }}
    </pre>
  </div>
  <div class="col-6">
    <h3>Connections</h3>
    <button type="button" (click)='addConnection()' class="btn btn-primary">
      Add random connection
    </button>
    <button type="button" (click)='getConnectionId("77601f66-fdf8-4ec4-9b82-6e14772daeb0")' class="btn btn-secondary">
      Poll ID
    </button>
    <pre *ngIf="connectionsData">
    {{ connectionsData | async | json }}
    </pre>
    <pre *ngIf="connectionData">
    {{ connectionData | async | json }}
    </pre>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->


<hr>
<div class="row">
  <div class="col-xs-12 col-12">
    <pagination [(totalItems)]="totalItems"></pagination>
  </div>
</div>
