<div id="body_acquisitionflow_register">
  <nav class="marg100left">
    <a href="/signup">signup</a> |
    <a href="/confirmed">confirmed</a> |
    <a href="/tester">tester</a> |
    <a href="/messages">messages</a> |
    <a href="/creds">creds</a> |
    <a href="/proofs">proofs</a>
  </nav>
  <div id="overlay-temp" style="display: none;">
    <!-- <div id="overlay-temp-content"></div> -->
    <!-- <div id="overlay-temp-logo">Loading... Please Wait...</div> -->
  </div>
  <div class="container container-loanflow pad10 padb20">
    <form id="acquisitionflow_register">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Proofs</h3>
        </div>
        <div class="panel-body pad15">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group infield show-label">
                <label>connectionId</label>
                <input [(ngModel)]="connectionId" [ngModelOptions]="{standalone: true}" type="text" maxlength="50"
                  class="form-control" [value]="connectionId">
              </div>
              <div class="loanflow-buttons icon-buttons">
                <!-- <button (click)="getProofsId(connectionId)" id="wf_do_next" class="btn success-light btn-warning"
                  name="wf_do_next">Get Proofs</button> &nbsp; -->
                <button (click)="sendProofRequest(connectionId)" id="wf_do_next" class="btn success-light btn-warning"
                  name="wf_do_next">Request Attr from: {{ connectionId }} </button>
              </div>
              <h5>Select Connection</h5>
              <accordion>
                <accordion-group *ngFor="let connection of connectionsData$ | async" heading='{{connection.id}}'
                  (click)="selectId(connection.id)">
                  <pre>
{{ connection | json }}
</pre>
                </accordion-group>
              </accordion>
            </div>
            <div class="col-sm-8">
              <h5>Proofs for Connection: {{connectionId}} </h5>
              <accordion>
                <accordion-group *ngFor="let proof of proofsData$ | async | connectionFilter : connectionId"
                  heading='{{proof.proofName}}' [isOpen]="true">
                  <pre>
{{ proof | json }}
</pre>
                </accordion-group>
              </accordion>
              <pre *ngIf="proofData$">
{{ proofData$ | async | json }}
</pre>
              {{ proofResult }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
